:root {
    --color-dark: #020808;
    --color-light-grey: #ededf4;
    --color-main: #0B69e2;
    --color-dark-blue: #165DB8;
    --color-dark-grey: #888893;

    --font-heading1: 38px;/*40*/
    --font-heading2: 30px;/*32*/
    --font-medium: 22px;/*24*/
    --font-regular: 18px; /*18*/
    --font-small: 12 px;/*14*/
}
/* 
#contactApplicationWrapper {
    z-index: 3;
    position: fixed;
    background-color: rgba(2, 8, 8, 0.4);
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.contactApplication{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    width: 370px;
    background-color: #fff;
    padding: 35px;
    padding-top: 20px;
}

.contactApplicationComment {
    display: flex;
    flex-direction: column;
}

.contactApplication input:not(:last-child), .contactApplicationComment textarea{
    max-width: 270px;
    border-style: none;
    border-bottom-style:solid;
    border-color: var(--color-main);
    font-size: var(--font-regular);
}

.contactApplication input:last-child{
    margin-top: 30px;
}

.contactApplicationComment textarea {
    height: 90px;
}

.contactApplicationComment label, .contactApplication label {
    font-size: var(--font-regular);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
} */